<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or site.name }} | Tidal PTC Documentation</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or site.description }}">
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#047481">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#014451">
  <meta name="description" content="<%= (!!locals.description) ? description : site.description %>" />
  <meta property="og:title" content="Tidal PTC" />
  <meta property="og:description" content="<%= (!!locals.description) ? description : site.description %>" />
  <meta property="og:locale" content="<%= site.locale %>" />
  <meta property="og:site_name" content="<%= site.site_name %>" />
  <meta property="og:image" content="https://tidalptc.com/assets/images/share.png" />
  <meta property="og:image:alt" content="Manage parent-teacher conferences with Tidal PTC" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="<%= (!!locals.description) ? description : site.description %>" />
  <meta name="twitter:title" content="Tidal PTC" />
  <meta name="twitter:site" content="https://tidalptc.com" />
  <meta name="twitter:image" content="https://tidalptc.com/assets/images/share.png" />
  <meta name="twitter:creator" content="@ArchboardLLC"/>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  {% set js %}
    {% include "assets/js/inline.js" %}
    {% include "assets/js/search.js" %}
  {% endset %}
  {% set darkmode %}
    {% include "assets/js/darkmode.js" %}
  {% endset %}

  <script>{{ darkmode | jsmin | safe }}</script>
  <script defer>{{ js | jsmin | safe }}</script>

 {% if site.enableNetlifyCMS == 1 %}
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
 {% endif %}

  {% if site.enableSearch == 1 %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
  {% endif %}

  {% if site.navigationStyle == 'horizontal' %}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
  {% endif %}

</head>
